name: Migrate test database
on:
  push:
    branches:
      - dev
jobs:
  migrate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - name: install dependencies
        run: npm install
      - name: run migrations
        run: npm run migrate up
        env:
          DATABASE_URL: ${{ secrets.TEST_DATABASE_URL }}
